apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
- objects.yaml

patches:
- target:
    kind: ConfigMap
    name: car
  patch: |-
    - op: add
      path: /data/bodyStyle
      value: coupe

buildMetadata:
- originAnnotations

# commonLabels is deprecated and builds produce warnings to stderr
# These warnings are not shown for successful builds if the option `silent_on_success` is set to true
commonLabels:
  "car": "ford-mustang"
